<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="RM75-6F">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00049987 5.2709E-05 0.060019"
        rpy="0 0 0" />
      <mass
        value="1.862" />
      <inertia
        ixx="0.0017232"
        ixy="-3.1058E-06"
        ixz="-3.7924E-05"
        iyy="0.0017051"
        iyz="1.3691E-06"
        izz="0.00090158" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_75_arm/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_75_arm/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link_1">
    <inertial>
      <origin
        xyz="0.000241 -0.013273 -0.00995"
        rpy="0 0 0" />
      <mass
        value="1.574" />
      <inertia
        ixx="0.002487573"
        ixy="0.000009663"
        ixz="-0.000007909"
        iyy="0.002321038"
        iyz="0.000179393"
        izz="0.001450554" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_75_arm/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_75_arm/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 0.2405"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link_1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.105"
      upper="3.105"
      effort="60"
      velocity="3.14" />
  </joint>
  <link
    name="Link_2">
    <inertial>
      <origin
        xyz="-0.000357 -0.106789 0.005329"
        rpy="0 0 0" />
      <mass
        value="1.217" />
      <inertia
        ixx="0.003494121"
        ixy="0.000002921"
        ixz="-0.000005613"
        iyy="0.000892721"
        iyz="-0.000583884"
        izz="0.003444080" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_75_arm/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_75_arm/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Link_1" />
    <child
      link="Link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.269"
      upper="2.269"
      effort="60"
      velocity="3.14" />
  </joint>
  <link
    name="Link_3">
    <inertial>
      <origin
        xyz="0.000003 -0.01398 -0.011324"
        rpy="0 0 0" />
      <mass
        value="1.11" />
      <inertia
        ixx="0.001836663"
        ixy="0.000002259"
        ixz="-0.000004216"
        iyy="0.001498875"
        iyz="0.000037167"
        izz="0.001062545" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_75_arm/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_75_arm/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0.256 0 0"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="Link_2" />
    <child
      link="Link_3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.105"
      upper="3.105"
      effort="30"
      velocity="3.14" />
  </joint>
  <link
    name="Link_4">
    <inertial>
      <origin
        xyz="-0.000005 -0.084658 0.004747"
        rpy="0 0 0" />
      <mass
        value="0.685" />
      <inertia
        ixx="0.001282444"
        ixy="-0.000000551"
        ixz="-0.000000630"
        iyy="0.000373013"
        iyz="-0.000232084"
        izz="0.001256177" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_75_arm/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_75_arm/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 -3.1416" />
    <parent
      link="Link_3" />
    <child
      link="Link_4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.356"
      upper="2.356"
      effort="30"
      velocity="3.14" />
  </joint>
  <link
    name="Link_5">
    <inertial>
      <origin
        xyz="0.000078 -0.012937 -0.008781"
        rpy="0 0 0" />
      <mass
        value="0.619" />
      <inertia
        ixx="0.000627336"
        ixy="0.000001636"
        ixz="-0.000001345"
        iyy="0.000542455"
        iyz="0.000034970"
        izz="0.000370291" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_75_arm/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_75_arm/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 -0.21 0"
      rpy="1.5708 0 0" />
    <parent
      link="Link_4" />
    <child
      link="Link_5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.105"
      upper="3.105"
      effort="10"
      velocity="3.14" />
  </joint>
  <link
    name="Link_6">
    <inertial>
      <origin
        xyz="-0.000014 -0.078524 0.002819"
        rpy="0 0 0" />
      <mass
        value="0.602" />
      <inertia
        ixx="0.000780774"
        ixy="-0.000000121"
        ixz="-0.000000469"
        iyy="0.000289973"
        iyz="-0.000120513"
        izz="0.000763955" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_75_arm/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_75_arm/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 0" />
    <parent
      link="Link_5" />
    <child
      link="Link_6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.234"
      upper="2.234"
      effort="10"
      velocity="3.14" />
  </joint>
  <link
    name="Link7">
    <inertial>
      <origin
        xyz="0.001094 -0.000077 -0.010119"
        rpy="0 0 0" />
      <mass
        value="0.144" />
      <inertia
        ixx="0.000044123"
        ixy="-0.000000064"
        ixz="0.0000003"
        iyy="0.000035078"
        iyz="-0.000000029"
        izz="0.000065445" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_75_arm/link7_6fb.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_75_arm/link7_6fb.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7"
    type="revolute">
    <origin
      xyz="0 -0.1613 0"
      rpy="1.5708 0 0" />
    <parent
      link="Link_6" />
    <child
      link="Link7" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="10"
      velocity="3.14" />
  </joint>
</robot>