<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="rm_eco62">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00133682761157797 -8.82763422017089E-05 0.0439834418774717"
        rpy="0 0 0" />
      <mass
        value="0.584825481285431" />
      <inertia
        ixx="0.000775925119945014"
        ixy="2.98148797430621E-06"
        ixz="-2.52746653512818E-05"
        iyy="0.000790075378837822"
        iyz="2.12739218651747E-06"
        izz="0.000587764326506914" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_eco62_arm/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_eco62_arm/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-0.036 -0.01347 -0.00908"
        rpy="0 0 0" />
      <mass
        value="1.19575" />
      <inertia
        ixx="0.01026"
        ixy="0.000561"
        ixz="-0.000395"
        iyy="0.002074"
        iyz="-0.00145"
        izz="0.02213" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_eco62_arm/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_eco62_arm/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 0.136000000000009"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1067"
      upper="3.1067"
      effort="10"
      velocity="3.927" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.1198 0 -0.0396"
        rpy="0 0 0" />
      <mass
        value="0.8055" />
      <inertia
        ixx="0.0006798"
        ixy="0"
        ixz="0.0005856"
        iyy="0.002778"
        iyz="0"
        izz="0.002559" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_eco62_arm/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_eco62_arm/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="-0.0700000000000007 0 0"
      rpy="-1.5707963267949 -1.5707963267949 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.8151"
      upper="2.9496"
      effort="10"
      velocity="3.927" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.0944 0 0"
        rpy="0 0 0" />
      <mass
        value="0.413" />
      <inertia
        ixx="0.000183"
        ixy="0"
        ixz="0.000169"
        iyy="0.00134"
        iyz="0"
        izz="0.00135" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_eco62_arm/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_eco62_arm/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0.148000000000001 0 0"
      rpy="0 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.6354"
      upper="2.3213"
      effort="10"
      velocity="3.927" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0 -0.0168 0.0034"
        rpy="0 0 0" />
      <mass
        value="0.2386" />
      <inertia
        ixx="0.000965"
        ixy="0"
        ixz="0"
        iyy="0.0000704"
        iyz="0.0000144"
        izz="0.0000915" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_eco62_arm/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_eco62_arm/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0.136 0 -0.058513"
      rpy="0 0 1.5708" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.002"
      upper="3.002"
      effort="2"
      velocity="3.927" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="0 0.0168 -0.0043"
        rpy="0 0 0" />
      <mass
        value="0.2633" />
      <inertia
        ixx="0.000146"
        ixy="0"
        ixz="0"
        iyy="0.000089"
        iyz="0.0000193"
        izz="0.0001375" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_eco62_arm/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_eco62_arm/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 -0.0709999970209708 0"
      rpy="1.5707963267949 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.002"
      upper="3.002"
      effort="2"
      velocity="3.927" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="0 0 -0.0146"
        rpy="0 0 0" />
      <mass
        value="0.0667" />
      <inertia
        ixx="0.000018"
        ixy="0"
        ixz="0"
        iyy="0.000017"
        iyz="0"
        izz="0.0000243" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_eco62_arm/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_eco62_arm/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="0 0.0706999977831763 0"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 0 0.999999999999983" />
    <limit
      lower="-6.2832"
      upper="6.2832"
      effort="2"
      velocity="3.927" />
  </joint>
</robot>
