<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="0000-eco65_URDF(2)">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.000205095458476214 -8.25897842700143E-05 0.0430919385554682"
        rpy="0 0 0" />
      <mass
        value="1.6314377241954" />
      <inertia
        ixx="0.00222522953193642"
        ixy="7.90054592450178E-06"
        ixz="-7.75584915815644E-05"
        iyy="0.00221557162937843"
        iyz="5.98460319667918E-06"
        izz="0.00185133322888546" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://0000-eco65_URDF(2)/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.866666666666667 0.890196078431372 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://0000-eco65_URDF(2)/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-0.0309093768130494 -0.00130232011541856 -0.00531213579641623"
        rpy="0 0 0" />
      <mass
        value="1.76684172446222" />
      <inertia
        ixx="0.00145339217933016"
        ixy="-0.000175780933840043"
        ixz="0.00028019957253137"
        iyy="0.00437717210602588"
        iyz="1.72091374250756E-05"
        izz="0.00409113214373347" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://0000-eco65_URDF(2)/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://0000-eco65_URDF(2)/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.1625"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.105"
      upper="3.105"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.121146986932408 -1.58478842965382E-07 -0.0707796093527157"
        rpy="0 0 0" />
      <mass
        value="3.5404490739212" />
      <inertia
        ixx="0.00265453446458718"
        ixy="9.59599329401285E-08"
        ixz="-0.000876830388307764"
        iyy="0.0336721743067911"
        iyz="-1.4119770327876E-08"
        izz="0.0343886885692875" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://0000-eco65_URDF(2)/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.866666666666667 0.890196078431372 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://0000-eco65_URDF(2)/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="-0.086 0 0"
      rpy="-1.5708 -1.5708 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.355"
      upper="3.105"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.105891582100513 -4.6854040314237E-08 0.0260074364854135"
        rpy="0 0 0" />
      <mass
        value="2.66024465891583" />
      <inertia
        ixx="0.00170870967852609"
        ixy="1.78555083726661E-08"
        ixz="-0.00124493134923224"
        iyy="0.0211579641059832"
        iyz="1.26248078229554E-08"
        izz="0.0213688269651738" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://0000-eco65_URDF(2)/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://0000-eco65_URDF(2)/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.26 0 0"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="1.21567713538828E-06 -0.009953857169817 0.0135236146022151"
        rpy="0 0 0" />
      <mass
        value="0.733002748293818" />
      <inertia
        ixx="0.000641257015828996"
        ixy="7.48254836286072E-09"
        ixz="-6.52720978721035E-09"
        iyy="0.000512474130891587"
        iyz="-0.000109077284827363"
        izz="0.00046031803825444" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://0000-eco65_URDF(2)/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.866666666666667 0.890196078431372 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://0000-eco65_URDF(2)/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.24 0 -0.0589"
      rpy="0 0 1.5708" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.44"
      upper="2.44"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="1.11789754923819E-06 0.0036631004053298 -0.0136222895268318"
        rpy="0 0 0" />
      <mass
        value="0.911746755408486" />
      <inertia
        ixx="0.0007972491059252"
        ixy="-3.05344891287591E-08"
        ixz="-1.66567240622025E-09"
        iyy="0.000572176723282571"
        iyz="-0.000145598665433485"
        izz="0.000625882795042933" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://0000-eco65_URDF(2)/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.866666666666667 0.890196078431372 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://0000-eco65_URDF(2)/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 -0.11 0"
      rpy="1.5708 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.105"
      upper="3.105"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="3.31048262667971E-05 6.95510812775968E-06 -0.0237376311302851"
        rpy="0 0 0" />
      <mass
        value="0.305602477849543" />
      <inertia
        ixx="0.000113828576086565"
        ixy="-3.65320556215084E-08"
        ixz="1.14192955580674E-07"
        iyy="0.000114694733259546"
        iyz="-4.34359001412421E-08"
        izz="0.000126193153799782" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://0000-eco65_URDF(2)/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.866666666666667 0.890196078431372 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://0000-eco65_URDF(2)/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 0.0967 0"
      rpy="-1.5708 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.105"
      upper="3.105"
      effort="100"
      velocity="1" />
  </joint>
</robot>