<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="rm_gen72_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.000608631599856789 0.000101410841223995 0.0500536423028974"
        rpy="0 0 0" />
      <mass
        value="0.725732279372378" />
      <inertia
        ixx="0.00116526259312761"
        ixy="3.86984764047093E-06"
        ixz="3.61598634195121E-05"
        iyy="0.00114387939249178"
        iyz="-1.69159565748085E-06"
        izz="0.000799620765266388" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find rm_description)/meshes/rm_gen72_arm/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find rm_description)/meshes/rm_gen72_arm/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="3.54241616240111E-07 -6.0407327765511E-05 -0.0474562076947793"
        rpy="0 0 0" />
      <mass
        value="0.511231576042974" />
      <inertia
        ixx="0.000959440501675413"
        ixy="-1.90967914521862E-09"
        ixz="-7.95751539476377E-09"
        iyy="0.00102039305288465"
        iyz="1.46570590325122E-06"
        izz="0.000388714616194907" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find rm_description)/meshes/rm_gen72_arm/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find rm_description)/meshes/rm_gen72_arm/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.218"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0014"
      upper="3.0014"
      effort="25"
      velocity="3.141" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="-7.09647952406739E-07 -0.0576246216953338 -3.88440270542586E-05"
        rpy="0 0 0" />
      <mass
        value="0.551907023014854" />
      <inertia
        ixx="0.00142140348660833"
        ixy="-1.11203318362369E-08"
        ixz="1.36371990293752E-08"
        iyy="0.00052571427239726"
        iyz="1.30499471891358E-06"
        izz="0.00127234961251408" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find rm_description)/meshes/rm_gen72_arm/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find rm_description)/meshes/rm_gen72_arm/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.8323"
      upper="1.8323"
      effort="25"
      velocity="3.141" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="0.00897441376214204 2.62633968732461E-05 -0.07382847021305"
        rpy="0 0 0" />
      <mass
        value="0.774130450031718" />
      <inertia
        ixx="0.00242102073961794"
        ixy="-6.22596416744426E-07"
        ixz="-0.000489521447339786"
        iyy="0.00248694314969312"
        iyz="-1.48542895560703E-06"
        izz="0.000900997189719803" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find rm_description)/meshes/rm_gen72_arm/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find rm_description)/meshes/rm_gen72_arm/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0 -0.28 0"
      rpy="1.5708 0 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0014"
      upper="3.0014"
      effort="25"
      velocity="3.141" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="-0.00962438865086499 0.0352034287339324 0.000174576348464699"
        rpy="0 0 0" />
      <mass
        value="0.437130215853825" />
      <inertia
        ixx="0.000866914153248162"
        ixy="0.000148761646913658"
        ixz="-7.42553547352418E-07"
        iyy="0.000267753002587659"
        iyz="2.68058265485487E-06"
        izz="0.000952324298928136" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find rm_description)/meshes/rm_gen72_arm/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find rm_description)/meshes/rm_gen72_arm/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.04 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.8792"
      upper="0.9597"
      effort="25"
      velocity="3.141" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="-4.77956518807332E-07 -3.84737693792594E-05 -0.066955487820054"
        rpy="0 0 0" />
      <mass
        value="0.424276753764529" />
      <inertia
        ixx="0.0011244489011316"
        ixy="7.5662322019411E-09"
        ixz="-1.71276249932628E-08"
        iyy="0.00103382374928123"
        iyz="8.24694417478756E-07"
        izz="0.000274640088277484" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find rm_description)/meshes/rm_gen72_arm/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find rm_description)/meshes/rm_gen72_arm/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="-0.019 0.2525 0"
      rpy="-1.5708 0 0" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0014"
      upper="3.0014"
      effort="5"
      velocity="3.926" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="0.00184221861298974 0.0379763265035087 -9.21090904324278E-05"
        rpy="0 0 0" />
      <mass
        value="0.302793039332829" />
      <inertia
        ixx="0.00014011480503376"
        ixy="-3.00204828273403E-06"
        ixz="-4.58155498966787E-10"
        iyy="0.000132631402640971"
        iyz="7.01344540253995E-10"
        izz="0.000155721320872423" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find rm_description)/meshes/rm_gen72_arm/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find rm_description)/meshes/rm_gen72_arm/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.707"
      upper="1.783"
      effort="5"
      velocity="3.926" />
  </joint>
  <link
    name="Link7">
    <inertial>
      <origin
        xyz="0.000199884675729955 -4.25081843764018E-08 -0.0292498694019246"
        rpy="0 0 0" />
      <mass
        value="0.176612671882913" />
      <inertia
        ixx="6.24281233883421E-05"
        ixy="2.55814128580721E-10"
        ixz="-3.1014379202721E-12"
        iyy="6.24291486534025E-05"
        iyz="1.37181281239386E-11"
        izz="8.48642555354654E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find rm_description)/meshes/rm_gen72_arm/Link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find rm_description)/meshes/rm_gen72_arm/Link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7"
    type="revolute">
    <origin
      xyz="0.0905 0.067 0"
      rpy="1.5708 0 1.5708" />
    <parent
      link="Link6" />
    <child
      link="Link7" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0014"
      upper="3.0014"
      effort="5"
      velocity="3.926" />
  </joint>
</robot>