<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="RXR-6FB">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.000247231299312718 0.000107089054159845 0.0504743485121995"
        rpy="0 0 0" />
      <mass
        value="0.651913537431184" />
      <inertia
        ixx="0.000693039456720002"
        ixy="-3.66140304381868E-07"
        ixz="6.39371684073924E-06"
        iyy="0.000684040868837464"
        iyz="2.26157110425163E-06"
        izz="0.00072711512418086" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="0.018E-3 -13.6E-3 -10.1E-3"
        rpy="0 0 0" />
      <mass
        value="1.559" />
      <inertia
        ixx="2693E-6"
        ixy="0"
        ixz="0"
        iyy="2324E-6"
        iyz="193E-6"
        izz="1662E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.925490196078431 0.925490196078431 0.905882352941176 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J1"
    type="revolute">
    <origin
      xyz="0 0 0.1915"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.785"
      upper="3.1"
      effort="60"
      velocity="3.14" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="-0.197E-3 -149.264E-3 -3.905E-3"
        rpy="0 0 0" />
      <mass
        value="1.384" />
      <inertia
        ixx="6726E-6"
        ixy="0"
        ixz="4E-6"
        iyy="1028E-6"
        iyz="750E-6"
        izz="6677E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.92549 0.92549 0.90588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.524"
      upper="3.11"
      effort="60"
      velocity="3.14" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="-0.154E-3 -15.652E-3 -11.241E-3"
        rpy="0 0 0" />
      <mass
        value="1.117" />
      <inertia
        ixx="1756E-6"
        ixy="-4.257E-6"
        ixz="0"
        iyy="1468E-6"
        iyz="112E-6"
        izz="980E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.925490196078431 0.925490196078431 0.905882352941176 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J3"
    type="revolute">
    <origin
      xyz="0 -0.322 0"
      rpy="1.5707963267949 1.5707963267949 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.11"
      upper="3.11"
      effort="30"
      velocity="3.925" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="0 86.537E-3 -1.411E-3"
        rpy="0 0 0" />
      <mass
        value="0.665" />
      <inertia
        ixx="1209E-6"
        ixy="0.112E-6"
        ixz="0"
        iyy="332E-6"
        iyz="-205E-6"
        izz="1191E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.925490196078431 0.925490196078431 0.905882352941176 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J4"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5707963267949 0 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.62"
      upper="0"
      effort="30"
      velocity="3.925" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="0 14.739E-3 -80.627E-3"
        rpy="0 0 0" />
      <mass
        value="1.13" />
      <inertia
        ixx="2343E-6"
        ixy="0"
        ixz="0"
        iyy="1934E-6"
        iyz="-443E-6"
        izz="1091E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J5"
    type="revolute">
    <origin
      xyz="0 0.2755 0"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.11"
      upper="3.11"
      effort="10"
      velocity="3.925" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="13.908E-3 -1.017E-3 -3.245E-3"
        rpy="0 0 0" />
      <mass
        value="0.559" />
      <inertia
        ixx="354E-6"
        ixy="0"
        ixz="-27E-6"
        iyy="288E-6"
        iyz="0"
        izz="312E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.156862745098039 0.156862745098039 0.156862745098039 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J6"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5707963267949 -1.5707963267949 0" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.13"
      upper="1.13"
      effort="10"
      velocity="3.925" />
  </joint>
  <link
    name="Link7">
    <inertial>
      <origin
        xyz="20E-3 71E-3 4.23E-3"
        rpy="0 0 0" />
      <mass
        value="0.483" />
      <inertia
        ixx="810E-6"
        ixy="-155E-6"
        ixz="42E-6"
        iyy="1152E-6"
        iyz="132E-6"
        izz="1640E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm/Link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm/Link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J7"
    type="revolute">
    <origin
      xyz="0.0155 0 0"
      rpy="1.5708 1.5708 0" />
    <parent
      link="Link6" />
    <child
      link="Link7" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.697"
      upper="1.99"
      effort="10"
      velocity="3.925" />
  </joint>
  <link
    name="Link8">
    <inertial>
      <origin
        xyz="-0.000223514521197427 8.8364063149209E-05 -0.0171573985138971"
        rpy="0 0 0" />
      <mass
        value="0.0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm/Link8.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm/Link8.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J8"
    type="revolute">
    <origin
      xyz="0 0.119000004117148 0"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="Link7" />
    <child
      link="Link8" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>
