<?xml version="1.0" encoding="utf-8"?>
<robot
  name="rml_63_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0014213 -0.00010164 0.050087"
        rpy="0 0 0" />
      <mass
        value="1.862" />
      <inertia
        ixx="0.00099641"
        ixy="-3.2815E-06"
        ixz="1.0053E-05"
        iyy="0.0010164"
        iyz="-1.2859E-06"
        izz="0.00067934" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_63_arm/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_63_arm/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-0.068442 -0.023913 -0.006938"
        rpy="0 0 0" />
      <mass
        value="1.837" />
      <inertia
        ixx="0.002323337"
        ixy="-0.000758998"
        ixz="0.000825985"
        iyy="0.003950377"
        iyz="0.000254693"
        izz="0.003921999" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_63_arm/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_63_arm/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.172"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.107"
      upper="3.107"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.1667 -0.000002 -0.09259"
        rpy="0 0 0" />
      <mass
        value="2.006" />
      <inertia
        ixx="0.001465511"
        ixy="-0.000001176"
        ixz="-0.000161533"
        iyy="0.030618537"
        iyz="0.00000004"
        izz="0.030971934" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_63_arm/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_63_arm/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="-0.086 0 0"
      rpy="-1.5708 -1.5708 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.107"
      upper="3.107"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.033399 -0.029498 -0.017697"
        rpy="0 0 0" />
      <mass
        value="1.961" />
      <inertia
        ixx="0.004112772"
        ixy="0.001938241"
        ixz="-0.001141244"
        iyy="0.0042931"
        iyz="0.001002886"
        izz="0.005363959" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_63_arm/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_63_arm/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.38 0 0"
      rpy="0 0 1.5708" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.107"
      upper="2.531"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0 -0.035177 -0.1844"
        rpy="0 0 0" />
      <mass
        value="1.201" />
      <inertia
        ixx="0.010697086"
        ixy="-0.000000036"
        ixz="0.000000111"
        iyy="0.009929454"
        iyz="0.002698114"
        izz="0.001388994" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_63_arm/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_63_arm/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.069 -0.405 0"
      rpy="1.5708 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.107"
      upper="3.107"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-0.000031 0.030146 -0.012341"
        rpy="0 0 0" />
      <mass
        value="1.026" />
      <inertia
        ixx="0.001643891"
        ixy="-0.000003076"
        ixz="0.000000764"
        iyy="0.000673543"
        iyz="-0.000383963"
        izz="0.001451996" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_63_arm/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_63_arm/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 3.1416" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.107"
      upper="3.107"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-0.000481 0.000365 -0.010605"
        rpy="0 0 0" />
      <mass
        value="0.107" />
      <inertia
        ixx="0.000041460"
        ixy="-0.000003111"
        ixz="-0.000000113"
        iyy="0.000038008"
        iyz="0.000000097"
        izz="0.000064288" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_63_arm/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_63_arm/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="-0.00010308 0.115 -0.00010734"
      rpy="1.5708 0 3.1416" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
</robot>
