<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rm_75_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- arg->property -->
    <xacro:property name="link7_type" value="$(arg link7_type)" />
    <!-- Import rm_75_description urdf file -->
    <xacro:include filename="$(find rm_description)/urdf/rm_75.urdf.xacro" >
        link7_type:=$(arg link7_type)
    </xacro:include>
    

    <!-- Import control_xacro -->
    <xacro:include filename="rm_75_description.ros2_control.xacro" />


    <xacro:rm_75_description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
