<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rml_63_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import rml_63_description urdf file -->
    <!-- arg->property -->
    <xacro:property name="link6_type" value="$(arg link6_type)" />
    <xacro:property name="base_type" value="$(arg base_type)" />
    <xacro:include filename="$(find rm_description)/urdf/rml_63.urdf.xacro" >
        link6_type:=$(arg link6_type)
        base_type:=$(arg base_type)
    </xacro:include>

    <!-- Import control_xacro -->
    <xacro:include filename="rml_63_description.ros2_control.xacro" />


    <xacro:rml_63_description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
